{% extends "base.html" %}

{% block content %}


    <main style="width: 30%;" class="form-signin m-auto">
  <form method="post">

    <h1 style="padding-top: 50px; padding-bottom: 10px;" class="h3 mb-3 fw-normal">Konto erstellen</h1>

    <div style="padding-bottom: 10px;" class="form-floating">
      <input  name="username" type="text" class="form-control" id="floatingPassword" placeholder="Username">
      <label for="floatingPassword">Username</label>
    </div>
    <div style="padding-bottom: 10px;" class="form-floating">
      <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div style="padding-bottom: 30px;" class="form-floating">
      <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>


    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
  </form>

    <p style="padding-top: 20px;">Sie haben bereits ein Konto? <a href="{{ url_for('login') }}">Loggen Sie sich hier</a> ein</p>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</main>




{% endblock %}