{%  extends 'base.html' %}

{% block content %}


    {% if not current_user.is_authenticated %}
          <div style="padding-top: 60px;padding-bottom: 60px;">
              <a href="{{ url_for('login') }}"><button type="button" class="btn btn-primary">Einloggen</button></a>
              <a href="{{ url_for('register') }}"><button type="button" class="btn btn-light">Registrieren</button></a>
          </div>
      {% endif %}

    {% if not shopping_cart['product_images'] %}
        <h3> Der Warenkorb ist leer</h3>

    {% else %}
        <ul class="list-group d-flex justify-content-between flex-wrap" style="display: flex; flex-direction: column;">

        <div style="padding-bottom: 30px;">
            <span style="padding-left:30px; padding-right:100px;" class="flex-fill">Produkt</span>
            <span style="padding-right:100px;" class="flex-fill">Preis</span>
            <span style="padding-right:100px;" class="flex-fill">Stückzahl</span>
        </div>


        {% for count in range(shopping_cart['product_titles'] | length ) %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center justify-content-between">
                    <span style="padding-right:100px;" class="flex-fill">{{ shopping_cart['product_titles'][count] }}</span>
                    <span style="padding-right:100px;" class="flex-fill">{{ shopping_cart['product_prices'][count] }}$</span>
                    <span style="padding-right:100px;" class="flex-fill">{{ shopping_cart["product_amounts"][count] }}</span>
                    <img src="{{ shopping_cart['product_images'][count] }}" width="100">

                </div>

            </li>
        {% endfor %}
        </ul>

        <div style="display: flex; padding-top: 50px;">
            <h3 style="padding-right: 20px;"> Summe : {{ total_price }}€ </h3>

            {% if not current_user.is_authenticated %}
            <a style="padding-bottom: 20px;" href="{{ url_for('login') }}"><button type="button" class="btn btn-primary">Kaufen</button></a>
            {% else %}
            <form action="/payment" method="post">
                <button class="btn btn-primary" type="submit">Pay with Paypal</button>
            </form>


            {% endif %}

        </div>

        <div style="padding-top:50px;">
            <p> Da es ja nur zu Testzwecken dient, habe ich ihnen ein Paypal Sandbox-Account erstellt. Hier sind die Zugangsdaten die ihr echtes Konto simulieren sollen:</p>
            <p>Email: beispiel1234567@email.com</p>
            <p>Passwort: geheimpasswort</p>
        </div>


    {% endif %}


{% endblock %}
